//banner styles

.banner {
  height: 500px;
  position: relative;
  // background-color: $black;
  // width: 100%;
  img {
    object-fit: cover;
    min-height: 100%;
    opacity: 0.5;
  }
  .banner-text {
    position: absolute;
    top: 30%;
    right: 20px;
    color: $white;
    text-transform: uppercase;
    text-align: right;
    h1 {
      font-size: 40px;
      @include mq("md") {
        font-size: 60px;
      }
    }
  }
}

.header-banner {
  background-color: $black;
  .container-col-l {
    width: 100%;
  }
}
//styles for banner parallax effect
.parallax {
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
