//Classes

.img-responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.list-inline {
  li {
    display: inline-block;
  }
}
.list-unstyled {
  list-style-type: none;
}

.container-row {
  display: flex;
  justify-content: space-between;
  @include mq("md", "max") {
    display: block;
  }
}
.container-col-s-4 {
  width: 25%;
  padding: 0px 15px;
  @include mq("md", "max") {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  @include mq("sm", "max") {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.container-col-m-3 {
  width: 33.333%;
  padding: 0px 15px;
  @include mq("md", "max") {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.container-col-l {
  width: 100%;
  padding: 0px 15px;
}

//bg classes
.bg-gray {
  background-color: $dark-gray;
}
.bg-white {
  background-color: $white;
}
