//header styles
header {
  //   height: 150px;
  background-color: $bg-gray;
  color: $gray;
  padding: 20px 0px;
  nav {
    position: relative;
    justify-content: space-between;
    padding: 10px;
    display: flex;
    align-items: center;
    // @include mq("md") {
    //   display: flex;
    // }
  }
  a {
    color: $gray;
    font-weight: bold;
  }
  .navbar-logo {
    width: 250px;
    display: block;
  }
  .nav-menu-list {
    margin: 0;
    .nav-menu-list-item {
      text-transform: uppercase;
      letter-spacing: 1px;
      list-style-type: none;
      margin-right: 20px;
    }
  }
}
//desktop view
@media screen and (min-width: 768px) {
  // nav {
  //   display: flex;
  // }
  .nav-menu-list {
    .nav-menu-list-item {
      display: inline-block;
    }
  }
  #toggleIcon {
    display: none;
  }
}
//mobile view
@media screen and (max-width: 767px) {
  nav {
    .nav-menu-list {
      text-align: right;
      text-align: right;
      opacity: 1;
      transition: all 0.3s ease 0.3s;
      li {
        padding: 10px;
      }
    }
    .nav-menu {
      position: absolute;
      right: 0;
      top: 90px;
      background: $bg-gray;
      width: 500px;
      visibility: visible;
      opacity: 1;
      overflow-x: hidden;
      transform: scaleX(1);
      // transition: visibility 0s, opacity 0.5s, width 0.3s ease-in;
      transition: all 0.3s ease-in;
      transform-origin: right;
      &.hidden {
        // display:none;
        visibility: hidden;
        opacity: 0;
        right: 0;
        // width: 0px;
        overflow-x: hidden;

        transform: scaleX(0);
        // transition: visibility 0.3s, opacity 0.5s, width 0s;
        transition: all 0.3s ease-in;

        .nav-menu-list {
          opacity: 0;
          transition: all 0.3s ease 0s;
        }
      }
    }
    .nav-menu-list {
      .nav-menu-list-item {
        list-style-type: none;
      }
    }
  }
}

/*toggle icon animation
credit: A PEN BY Joseph Gengarella
url: https://codepen.io/Wyrlor/pen/RaLqbp */

.nav-toggle {
  // padding: 10px;
  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  // margin: 7px 0;
  // top: 50%;
  // left: 50%;

  /*
   * FOR PRESENTATION ONLY
   * Centers everything, remove for
   * practical purposes.
  */
  // -webkit-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
}
.nav-toggle:focus {
  outline-width: 0;
}

.nav-toggle [class*="bar-"] {
  background: #e8ad1a;
  display: block;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;

  /* 
   * ENLARGED FOR PRESENTATION
   * Keep these values at the same proportion 
   * for it to look correct
  */
  border-radius: 8px;
  height: 4px;
  width: 40px;
  margin-bottom: 8px;

  /*
   * Practical values:
   * border-radius: 2px;
   * height: 2px;
   * width: 25px;
   * margin-bottom: 4px;
  */
}

.nav-toggle .bar-bot {
  margin-bottom: 0;
}

.opened .bar-top {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 0% 15%;
  transform-origin: 0% 15%;
}
.opened .bar-mid {
  opacity: 0;
}
.opened .bar-bot {
  -webkit-transform: rotate(45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 95%;
  transform-origin: 10% 95%;
}
