<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/../vhosts/gulp-assignment-1/dist/style.css">
  </head>
  <body>
    <header>
      <nav><a class="navbar-logo" href="#"><img class="img-responsive" src="/../vhosts/gulp-assignment-1/images/logo.jpg" alt="logo"></a>
        <div class="nav-menu" id="navMenu">
          <ul class="nav-menu-list">
            <li class="nav-menu-list-item"><a href="#">Company</a></li>
            <li class="nav-menu-list-item"> <a href="#">Therapy areas</a></li>
            <li class="nav-menu-list-item"> <a href="#">News</a></li>
            <li class="nav-menu-list-item"> <a href="#">Careers</a></li>
            <li class="nav-menu-list-item"> <a href="#">Contact</a></li>
          </ul>
        </div><a id="toggleIcon" href="#" onclick=""><i class="fa fa-bars"></i></a>
      </nav>
    </header>
    <section class="main-section">
      <div class="container-l">
        <div class="container-row">
          <div class="container-col-l">
            <div class="blog-section">
              <h1>This is a blog post</h1>
              <div class="author-details">
                <h2> <span>Posted by</span>Ben</h2>
                <h3>Posted on 12-1-2014</h3>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consectetur iste libero adipisci porro vero quibusdam similique commodi fuga, nisi impedit, nam tenetur nihil! Debitis quo nostrum inventore in iure.</p>lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consectetur iste libero adipisci porro vero quibusdam similique commodi fuga, nisi impedit, nam tenetur nihil! Debitis quo nostrum inventore in iure.
              lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consectetur iste libero adipisci porro vero quibusdam similique commodi fuga, nisi impedit, nam tenetur nihil! Debitis quo nostrum inventore in iure.
              lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consectetur iste libero adipisci porro vero quibusdam similique commodi fuga, nisi impedit, nam tenetur nihil! Debitis quo nostrum inventore in iure.
              lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consectetur iste libero adipisci porro vero quibusdam similique commodi fuga, nisi impedit, nam tenetur nihil! Debitis quo nostrum inventore in iure.
              lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consectetur iste libero adipisci porro vero quibusdam similique commodi fuga, nisi impedit, nam tenetur nihil! Debitis quo nostrum inventore in iure.
              lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consectetur iste libero adipisci porro vero quibusdam similique commodi fuga, nisi impedit, nam tenetur nihil! Debitis quo nostrum inventore in iure.
              lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consectetur iste libero adipisci porro vero quibusdam similique commodi fuga, nisi impedit, nam tenetur nihil! Debitis quo nostrum inventore in iure.
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit odit fuga, quo rerum accusantium cupiditate nulla nesciunt obcaecati tempore unde dicta cum alias id enim iusto fugit, quaerat officia provident.</p>
              <ul>
                <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li>
                <li>Link 4</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="bg-gray">
      <div class="container-l"> 
        <div class="container-row">
          <div class="container-col-s-4">
            <ul class="footer-list list-unstyled">
              <li class="footer-list-item">COMPANY</li>
              <li class="footer-list-item">About</li>
              <li class="footer-list-item">Management team</li>
              <li class="footer-list-item">Board of Directors</li>
            </ul>
          </div>
          <div class="container-col-s-4">
            <ul class="footer-list list-unstyled">
              <li class="footer-list-item">THERAPY AREAS</li>
              <li class="footer-list-item">Our Therapy Areas</li>
              <li class="footer-list-item">CAPP</li>
              <li class="footer-list-item">Managed Access </li>
            </ul>
          </div>
          <div class="container-col-s-4">
            <ul class="footer-list list-unstyled">
              <li class="footer-list-item">CONTACT</li>
              <li class="footer-list-item">Our Details</li>
              <li class="footer-list-item">Medical Information</li>
              <li class="footer-list-item">Product Safety</li>
            </ul>
          </div>
          <div class="container-col-s-4">
            <ul class="footer-list list-unstyled">
              <li class="footer-list-item">LEGAL   </li>
              <li class="footer-list-item">Conditions of Sale</li>
              <li class="footer-list-item">Terms &amp; Conditions</li>
              <li class="footer-list-item">Privacy Policy</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="/../vhosts/gulp-assignment-1/dist/main.js"></script>
  </body>
</html>