<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/../vhosts/gulp-assignment-1/dist/style.css">
  </head>
  <body>
    <header>
      <nav><a class="navbar-logo" href="#"><img class="img-responsive" src="/../vhosts/gulp-assignment-1/images/logo.jpg" alt="logo"></a>
        <div class="nav-menu" id="navMenu">
          <ul class="nav-menu-list">
            <li class="nav-menu-list-item"><a href="#">Company</a></li>
            <li class="nav-menu-list-item"> <a href="#">Therapy areas</a></li>
            <li class="nav-menu-list-item"> <a href="#">News</a></li>
            <li class="nav-menu-list-item"> <a href="#">Careers</a></li>
            <li class="nav-menu-list-item"> <a href="#">Contact</a></li>
          </ul>
        </div>
        <button class="nav-toggle" id="toggleIcon"><span class="bar-top"></span><span class="bar-mid"></span><span class="bar-bot"></span></button>
      </nav>
    </header>
    <section class="header-banner parallax">
      <div class="container-l">
        <div class="container-row">
          <div class="container-col-l">
            <div class="banner">
              <div class="banner-text">
                <h1>Courage for life</h1>
                <h2>This is heading description</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="main-section">
      <div class="container-l">
        <div class="container-row">
          <div class="container-col-m-3">
            <div class="cards bg-white">
              <div class="card-img-wrapper"><img class="img-responsive" src="/../vhosts/gulp-assignment-1/images/service-icon-1.png" alt="Banner image"></div>
              <h2>Who we are</h2>
              <p class="main-paragraph">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Id minima nesciunt possimus deserunt itaque quo laborum vero error dolorum eaque eos veniam reiciendis, sequi suscipit nostrum sunt maiores alias. Earum.
              </p>
            </div>
          </div>
          <div class="container-col-m-3">
            <div class="cards bg-white">
              <div class="card-img-wrapper"><img class="img-responsive" src="/../vhosts/gulp-assignment-1/images/service-icon-2.png" alt="Banner image"></div>
              <h2>Therapy areas</h2>
              <p class="main-paragraph">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Id minima nesciunt possimus deserunt itaque quo laborum vero error dolorum eaque eos veniam reiciendis, sequi suscipit nostrum sunt maiores alias. Earum.
              </p>
            </div>
          </div>
          <div class="container-col-m-3">
            <div class="cards bg-white">
              <div class="card-img-wrapper"><img class="img-responsive" src="/../vhosts/gulp-assignment-1/images/service-icon-3.png" alt="Banner image"></div>
              <h2>Careers</h2>
              <p class="main-paragraph">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Id minima nesciunt possimus deserunt itaque quo laborum vero error dolorum eaque eos veniam reiciendis, sequi suscipit nostrum sunt maiores alias. Earum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="bg-gray">
      <div class="container-l"> 
        <div class="container-row">
          <div class="container-col-s-4">
            <ul class="footer-list list-unstyled">
              <li class="footer-list-item">COMPANY</li>
              <li class="footer-list-item">About</li>
              <li class="footer-list-item">Management team</li>
              <li class="footer-list-item">Board of Directors</li>
            </ul>
          </div>
          <div class="container-col-s-4">
            <ul class="footer-list list-unstyled">
              <li class="footer-list-item">THERAPY AREAS</li>
              <li class="footer-list-item">Our Therapy Areas</li>
              <li class="footer-list-item">CAPP</li>
              <li class="footer-list-item">Managed Access </li>
            </ul>
          </div>
          <div class="container-col-s-4">
            <ul class="footer-list list-unstyled">
              <li class="footer-list-item">CONTACT</li>
              <li class="footer-list-item">Our Details</li>
              <li class="footer-list-item">Medical Information</li>
              <li class="footer-list-item">Product Safety</li>
            </ul>
          </div>
          <div class="container-col-s-4">
            <ul class="footer-list list-unstyled">
              <li class="footer-list-item">LEGAL   </li>
              <li class="footer-list-item">Conditions of Sale</li>
              <li class="footer-list-item">Terms &amp; Conditions</li>
              <li class="footer-list-item">Privacy Policy</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="/../vhosts/gulp-assignment-1/dist/main.js"></script>
  </body>
</html>