<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <header>
      <nav><a class="navbar-logo" href="#">LOGO</a>
        <div class="nav-menu" id="navMenu">
          <ul class="nav-menu-list">
            <li class="nav-menu-list-item">Company</li>
            <li class="nav-menu-list-item">Therapy areas</li>
            <li class="nav-menu-list-item">News</li>
            <li class="nav-menu-list-item">Careers</li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="header-banner">
      <div class="container-l">
        <div class="container-row">
          <div class="container-col-l">
            <div class="banner"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>