<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/../vhosts/gulp-assignment-1/dist/style.css">
  </head>
  <body>
    <header>
      <nav><a class="navbar-logo" href="#"><img class="img-responsive" src="/../vhosts/gulp-assignment-1/images/logo.jpg" alt="logo"></a>
        <div class="nav-menu" id="navMenu">
          <ul class="nav-menu-list">
            <li class="nav-menu-list-item">Company</li>
            <li class="nav-menu-list-item">Therapy areas</li>
            <li class="nav-menu-list-item">News</li>
            <li class="nav-menu-list-item">Careers</li>
            <li class="nav-menu-list-item">Contact</li>
          </ul>
        </div><a id="toggleIcon" href="#" onclick=""><i class="fa fa-bars"></i></a>
      </nav>
    </header>
    <div class="header-banner">
      <div class="container-l">
        <div class="container-row">
          <div class="container-col-l">
            <div class="banner"><img class="img-responsive" src="/../vhosts/gulp-assignment-1/images/banner.jpg" alt="Banner image"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="/../vhosts/gulp-assignment-1/dist/main.js"></script>
    <footer>
      <div class="container-l"> 
        <div class="container-row">
          <div class="container-col-m">
            <div class="footer-logo"><img class="img-responsive" src="#" alt="footer logo"></div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>