footer.bg-gray
    .container-l 
        .container-row
            .container-col-s-4
                ul.footer-list.list-unstyled
                    li.footer-list-item COMPANY
                    li.footer-list-item About
                    li.footer-list-item Management team
                    li.footer-list-item Board of Directors
            .container-col-s-4
                ul.footer-list.list-unstyled
                    li.footer-list-item THERAPY AREAS
                    li.footer-list-item Our Therapy Areas
                    li.footer-list-item CAPP
                    li.footer-list-item Managed Access 
            .container-col-s-4
                ul.footer-list.list-unstyled
                    li.footer-list-item CONTACT
                    li.footer-list-item Our Details
                    li.footer-list-item Medical Information
                    li.footer-list-item Product Safety
            .container-col-s-4
                ul.footer-list.list-unstyled
                    li.footer-list-item LEGAL   
                    li.footer-list-item Conditions of Sale
                    li.footer-list-item Terms &amp; Conditions
                    li.footer-list-item Privacy Policy
                    