header
    nav
        a(href="#" class="navbar-logo")
            img.img-responsive(src="/../vhosts/gulp-assignment-1/images/logo.jpg" alt="logo")
        #navMenu.nav-menu
            ul.nav-menu-list
                li.nav-menu-list-item
                    a(href="#") Company
                li.nav-menu-list-item 
                    a(href="#") Therapy areas
                li.nav-menu-list-item 
                    a(href="#") News
                li.nav-menu-list-item 
                    a(href="#") Careers
                li.nav-menu-list-item 
                    a(href="#") Contact
        button#toggleIcon.nav-toggle
            span.bar-top
            span.bar-mid
            span.bar-bot