header
    nav
        a(href="#" class="navbar-logo") LOGO
        #navMenu.nav-menu
            ul.nav-menu-list
                li.nav-menu-list-item Company
                li.nav-menu-list-item Therapy areas
                li.nav-menu-list-item News
                li.nav-menu-list-item Careers