header
    nav
        a(href="#" class="navbar-logo")
            img.img-responsive(src="/../vhosts/gulp-assignment-1/images/logo.jpg" alt="logo")
        #navMenu.nav-menu
            ul.nav-menu-list
                li.nav-menu-list-item Company
                li.nav-menu-list-item Therapy areas
                li.nav-menu-list-item News
                li.nav-menu-list-item Careers
                li.nav-menu-list-item Contact
        a#toggleIcon(href="#" onclick="")
            i.fa.fa-bars