
<footer class="bg-gray">
  <div class="container-l"> 
    <div class="container-row">
      <div class="container-col-s-4">
        <ul class="footer-list list-unstyled">
          <li class="footer-list-item">COMPANY</li>
          <li class="footer-list-item">About</li>
          <li class="footer-list-item">Management team</li>
          <li class="footer-list-item">Board of Directors</li>
        </ul>
      </div>
      <div class="container-col-s-4">
        <ul class="footer-list list-unstyled">
          <li class="footer-list-item">THERAPY AREAS</li>
          <li class="footer-list-item">Our Therapy Areas</li>
          <li class="footer-list-item">CAPP</li>
          <li class="footer-list-item">Managed Access </li>
        </ul>
      </div>
      <div class="container-col-s-4">
        <ul class="footer-list list-unstyled">
          <li class="footer-list-item">CONTACT</li>
          <li class="footer-list-item">Our Details</li>
          <li class="footer-list-item">Medical Information</li>
          <li class="footer-list-item">Product Safety</li>
        </ul>
      </div>
      <div class="container-col-s-4">
        <ul class="footer-list list-unstyled">
          <li class="footer-list-item">LEGAL   </li>
          <li class="footer-list-item">Conditions of Sale</li>
          <li class="footer-list-item">Terms &amp; Conditions</li>
          <li class="footer-list-item">Privacy Policy</li>
        </ul>
      </div>
    </div>
  </div>
</footer>