
<header>
  <nav><a class="navbar-logo" href="#"><img class="img-responsive" src="/../vhosts/gulp-assignment-1/images/logo.jpg" alt="logo"/></a>
    <div class="nav-menu" id="navMenu">
      <ul class="nav-menu-list">
        <li class="nav-menu-list-item">Company</li>
        <li class="nav-menu-list-item">Therapy areas</li>
        <li class="nav-menu-list-item">News</li>
        <li class="nav-menu-list-item">Careers</li>
        <li class="nav-menu-list-item">Contact</li>
      </ul>
    </div><a id="toggleIcon" href="#" onclick=""><i class="fa fa-bars"></i></a>
  </nav>
</header>