doctype html
html
    head
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/../vhosts/gulp-assignment-1/dist/style.css")
    body
        include includes/_header.pug

        section.main-section
            .container-l
                .container-row
                    .container-col-l
                        blog-section
                            h1 This is a blog post

                            author-details
                                h2 
                                    span Posted by
                                    | Ben
                                h3 Posted on 12-1-2014
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consectetur iste libero adipisci porro vero quibusdam similique commodi fuga, nisi impedit, nam tenetur nihil! Debitis quo nostrum inventore in iure.
                            
                            |lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consectetur iste libero adipisci porro vero quibusdam similique commodi fuga, nisi impedit, nam tenetur nihil! Debitis quo nostrum inventore in iure.
                            |lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consectetur iste libero adipisci porro vero quibusdam similique commodi fuga, nisi impedit, nam tenetur nihil! Debitis quo nostrum inventore in iure.
                            |lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consectetur iste libero adipisci porro vero quibusdam similique commodi fuga, nisi impedit, nam tenetur nihil! Debitis quo nostrum inventore in iure.
                            |lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consectetur iste libero adipisci porro vero quibusdam similique commodi fuga, nisi impedit, nam tenetur nihil! Debitis quo nostrum inventore in iure.
                            |lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consectetur iste libero adipisci porro vero quibusdam similique commodi fuga, nisi impedit, nam tenetur nihil! Debitis quo nostrum inventore in iure.
                            |lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consectetur iste libero adipisci porro vero quibusdam similique commodi fuga, nisi impedit, nam tenetur nihil! Debitis quo nostrum inventore in iure.
                            |lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consectetur iste libero adipisci porro vero quibusdam similique commodi fuga, nisi impedit, nam tenetur nihil! Debitis quo nostrum inventore in iure.
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit odit fuga, quo rerum accusantium cupiditate nulla nesciunt obcaecati tempore unde dicta cum alias id enim iusto fugit, quaerat officia provident.

                            ul
                                li Link 1
                                li Link 2
                                li Link 3
                                li Link 4

        include includes/_footer.pug

        script(src="/../vhosts/gulp-assignment-1/dist/main.js")