doctype html
html
    head
    body
        include includes/_header.pug
        
        .header-banner
            .container-l
                .container-row
                    .container-col-l
                        .banner