doctype html
html
    head
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/../vhosts/gulp-assignment-1/dist/style.css")
    body
        include includes/_header.pug

        section.header-banner.parallax_section.parallax_image_first
            .center
                .parallax_text.banner_text
                    h1 Courage for life
                    h2 This is heading description

        section.main-section
            .container-l
                .container-row
                    .container-col-m-3
                        .cards.bg-white
                            .card-img-wrapper
                                img.img-responsive(src="/../vhosts/gulp-assignment-1/images/service-icon-1.png" alt="Banner image")
                            h2 Who we are
                            p.main-paragraph
                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                | Id minima nesciunt possimus deserunt itaque quo laborum vero error dolorum eaque eos veniam reiciendis, sequi suscipit nostrum sunt maiores alias. Earum.
                    .container-col-m-3
                        .cards.bg-white
                            .card-img-wrapper
                                img.img-responsive(src="/../vhosts/gulp-assignment-1/images/service-icon-2.png" alt="Banner image")
                            h2 Therapy areas
                            p.main-paragraph
                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                | Id minima nesciunt possimus deserunt itaque quo laborum vero error dolorum eaque eos veniam reiciendis, sequi suscipit nostrum sunt maiores alias. Earum.
                    .container-col-m-3
                        .cards.bg-white
                            .card-img-wrapper
                                img.img-responsive(src="/../vhosts/gulp-assignment-1/images/service-icon-3.png" alt="Banner image")
                            h2 Careers
                            p.main-paragraph
                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                | Id minima nesciunt possimus deserunt itaque quo laborum vero error dolorum eaque eos veniam reiciendis, sequi suscipit nostrum sunt maiores alias. Earum.

        include includes/_footer.pug

        script(src="/../vhosts/gulp-assignment-1/dist/main.js")